@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit">Create New</a>

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None">
            <e-grid-columns>
                <e-grid-column headerText="Category" field="Title"></e-grid-column>
                <e-grid-column headerText="Type" field="Type"></e-grid-column>
                <e-grid-column headerText="Category"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center" style="background-color:#212b36">
            <i class="fa-solid fa-shapes fa-2xl"></i>
        </div>
    </div>
</div>
